.navbar {
    width: 100%;
    background-color: #2c22b5;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Helvetica;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    background-color: #0000ff;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/* Text body */
p
{
    font-family: Helvetica;
    text-align: justify;
}
h1
{
    font-family: Helvetica;
}

h2
{
    font-family: Helvetica;
}

h3
{
    font-family: Helvetica;
}

li
{
    font-family: Helvetica;
}

dd
{
    font-family: Helvetica;
}

dt
{
    font-family: Helvetica;
}

table, th, td {
    border:1px solid black;
    font-family: Helvetica;
}